.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .servicesContent{
        width: 90%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.548);
        border-radius: 25px;
        box-shadow: 0 0 30px black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .servicesContent h1{
        color: white;
        text-shadow: 0 0 10px white;
        font-size: 32px;
        font-weight: bold;
        margin-top: 15px;
    }

    .servicesList{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 30px;
    }

    .buttonContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 24px;
        margin: 0px 30px;
        /* background-color: black; */
    }
    .buttonContent span{
        margin-top: 10px;
        font-size: 20px;
    }
    .servicesList{
        display: flex;
    }
    .servicesList button{
        width: 120px;
        height: 120px;
        background-color: var(--azClTr);
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 30px var(--azOs);

    }.servicesList button:hover{
        cursor: pointer;
    } 
    .buttonImg{
            width: 150px;
        }
        .buttonImg:hover{
            width: 180px;
        }
    .listServices{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        margin-top: 10px;
    }
    .listServices h3{
            font-size: 22px;
            text-shadow: 0 0 20px white;
        }
        .listServices img{
            width: 20px;
            height: 20px;
        }
        .listServices img:hover{
            cursor: pointer;
        }
        .itemService{
            /* list-style: none; */
            font-size: 16px;
            background-color: var(--azOsTr);
            /* background-color: rgba(0, 0, 0, 0.548); */
            border-radius: 25px;
            box-sizing: border-box;
            padding: 10px 50px;
            box-shadow: 0 0 20px black;
        }
        .itemService li{
            letter-spacing: 0.5px;
            margin: 5px 0;
        }
            .itemService li:hover{
                cursor: pointer;
            }

        .listalista{
            width: 100%;
        }