*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarContent{
    width: 100%;
    height: 60px;
    background-color: rgba(14, 14, 14, 0.719);
    display: flex;
    /* color: white; */
}
    .logo{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
        .logo img{
            width: 40px;
            height: 90%;
            border-radius: 25px;
            margin-left: 50px;
        }
    .menu{
        width: 100%;
        height: 100%;
    }
        .menu ul{
            width: 100%;
            height: 100%;
            display: flex;
            list-style: none;
        }
            .menu ul li{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                color: white;
            }
                .btnMenu{
                    width: 100%;
                    height: 100%;
                    color: white;
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                }
                    .btnMenu:hover{
                        cursor: pointer;
                    }

.indexContent{
    width: 100%;
    height: 100vh;
}